<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Terraform Demo</title>
</head>
<body>
<h1>Terraform Demo</h1>
<p>This is a simple web page to show that Terraform uploads static files to a bucket.</p>
<p>Deployed: {{date}}</p>
</body>
</html>
